#country-container{
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    
}
.countryArea{
    border: 2px solid rgba(78, 185, 247, 0.705);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}